# Настройки сервера и сборки
NODE_ENV=production
PORT=3000

# Настройки Telegram Mini App
VITE_APP_TITLE="InvestFuture Mini App"
VITE_TELEGRAM_BOT_USERNAME="investfuture_bot"

# Токен бот-отправителя от @BotFather (если используется backend)
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
